@model WorkManager.Models.Norms.Norm
@using WorkManager.Models.Norms

<div class="form-group">
    <input type="hidden" asp-for="ProjectId" />

    <div class="col-sm-3">
        <label asp-for="Goal" class="control-label"></label>
        <input asp-for="Goal" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Goal)</span> 
    </div>

    <div class="col-sm-3">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList(typeof(NormType))" class="form-control"></select>
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Type)</span> 
    </div>
</div>
